{%- macro indent(c=4) -%}
{{ caller() | indent(c, false) }}
{%- endmacro -%}


{%- macro debug_field(field) %}
    // -------- field "{{ field.name }}": "{{ field.call.original_name }}" --------

    JITABI_LOG_DEBUG(
        "%s: %s",
        "{{ field.name }}",
        "{{ field.call.original_name }}"
    );
{%- endmacro %}
