{%- macro indent(c=4) -%}
{{ caller() | indent(c, false) }}
{%- endmacro -%}


{% macro debug_field(field) %}
    // -------- field "{{ field.name }}":
        {%- if field.call.modifier.name != "NONE" %} {{ field.call.modifier.name.lower() }}
        {%- endif %} "{{ field.call.type_name }}" --------

    JITABI_LOG_DEBUG(
        "%s: %s%s",
        "{{ field.name }}",
        "{{ field.call.type_name }}",
        {%- if field.call.modifier.name == "OPTIONAL" %}
        "?"
        {%- elif field.call.modifier.name == "EXTENSION" %}
        "$"
        {%- elif field.call.modifier.name == "ARRAY" %}
        "[]"
        {%- else %}
        ""
        {%- endif %}
    );
{%- endmacro %}
