static inline ssize_t
pack_{{ alias }}(PyObject *__obj, char *__out, size_t __out_len, size_t __depth)
{
    return pack_{{ call.type_name }}(__obj, {% for a in call.args %}{{ a }}, {% endfor %}__out, __out_len, __depth);
}
